
.container {
    padding-left: 150px;
    padding-right: 150px;
}

/* Ini untuk bagian Header */


header {
    background-color: #b8e994;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}

a {
    text-decoration: none;
}

.logo-header img {
    width: 120px;
    height: 75px;
    float: left;
}

.menu {
    float: right;
    padding-left: 140px;
    padding-top: 25px;
}

.menu a {
    padding-right: 50px;
}

/* Batas untuk Header */

/* Ini untuk bagian Main*/
.top-wrapper {
  padding-top: 300px;
  background-image: url(../assets/images/banner.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 750px;
}

.top-wrapper img {
  opacity: 0.3;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.fa-facebook {
  padding-right: 10px;
  color: #fff;
}

.twitter {
  background-color: #55acee;
}

.fa-twitter {
  padding-right: 10px;
  color: #fff;
}


.btn {
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 1;
  border-radius: 4px;
  transition: .2s;
}

.btn:hover {
  opacity: 1;
}

.top-arrows {
  padding-top: 220px;
}

.top-arrows p {
  opacity: 1;
  font-weight: 700;
}

.arrows {
  position: relative;
  animation-name: arrow;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  font-size: 30px;
  padding-top: 20px;
}

@keyframes arrow {
  0%   {top:0px;}
  50%  {top:40px;}
  100% {top:0px;}
}

.lesson-wrapper {
  height: 350px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img {
  width: 200px;
  height: 200px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #696969;
}

.heading h3 {
  font-weight: normal;
}

.contents {
  height: 500px;
  margin-top: 100px;
  text-align: center;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;

}
/* Batas untuk Main*/
/* Ini untuk bagian footer */

footer {
    background-color: #78e08f;
    height: 150px;
}

.logo-footer img {
    width: 120px;
    height: auto;
    float: left;
    padding-top: 40px;
}

.social-media li {
    float: right;
    padding-right: 40px;
    list-style: none;
}

.social-media {
    float: right;
    text-align: center;
}

.copyright {
    padding-bottom: 20px;
}

/* Batas untuk Footer */

